{
    "openapi": "3.0.0",
    "info": {
        "title": "MAPI Magento dedicated API",
        "description": "This is a sample API server.\n       You can find out more about MAPI documentation at\n      [General Doc page](https://ralecheinc.atlassian.net/wiki/spaces/TEC/pages/673513891/Framework+Architecture+Demo)\n      and\n      find [Developer Doc page](https://ralecheinc.atlassian.net/wiki/spaces/TEC/pages/682950678/Framework+Constitution) and [GitHub  page](https://git.raleche.com/raleche/prelude).",
        "termsOfService": "http://swagger.io/terms/",
        "contact": {
            "email": "davidr@raleche.com"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "http://prelude.davidr.sbx.raleche.com/",
            "description": "David Sandbox"
        },
        {
            "url": "https://dev-mapi.raleche.com/",
            "description": "Dev Environment"
        }
    ],
    "paths": {
        "/mapi/directmailing/validaddresses": {
            "post": {
                "tags": [
                    "Direct Mailing"
                ],
                "summary": "Get Simple endpoint",
                "operationId": "FourOver\\ShippingBundle\\Controller\\MailingController::postValidaddressesAction",
                "responses": {
                    "200": {
                        "description": "return simple response"
                    },
                    "default": {
                        "description": "an \"unexpected\" error"
                    }
                }
            }
        },
        "/mapi/directmailing/presortaddresses": {
            "get": {
                "tags": [
                    "Direct Mailing"
                ],
                "summary": "Get Simple endpoint",
                "operationId": "FourOver\\ShippingBundle\\Controller\\MailingController::postPresortaddressesAction",
                "responses": {
                    "200": {
                        "description": "return simple response"
                    },
                    "default": {
                        "description": "an \"unexpected\" error"
                    }
                }
            }
        },
        "/mapi/orders/simple": {
            "get": {
                "tags": [
                    "Orders"
                ],
                "summary": "Get Simple endpoint",
                "responses": {
                    "200": {
                        "description": "return simple response"
                    },
                    "default": {
                        "description": "an \"unexpected\" error"
                    }
                }
            }
        },
        "/mapi/plotcap/simple": {
            "get": {
                "tags": [
                    "Plotcap"
                ],
                "summary": "Get Simple endpoint",
                "responses": {
                    "200": {
                        "description": "return simple response"
                    },
                    "default": {
                        "description": "an \"unexpected\" error"
                    }
                }
            }
        },
        "/mapi/task/simple": {
            "get": {
                "tags": [
                    "API demo"
                ],
                "summary": "Get Simple endpoint",
                "operationId": "taskController::simple",
                "responses": {
                    "200": {
                        "description": "return simple response"
                    },
                    "default": {
                        "description": "an \"unexpected\" error"
                    }
                }
            }
        },
        "/mapi/task/index": {
            "post": {
                "tags": [
                    "API demo"
                ],
                "summary": "get organisation UUID",
                "operationId": "taskController::index",
                "responses": {
                    "200": {
                        "description": "return organisation UUID"
                    },
                    "default": {
                        "description": "an \"unexpected\" error"
                    }
                }
            }
        },
        "/mapi/task/create": {
            "post": {
                "tags": [
                    "API demo"
                ],
                "summary": "Create Order",
                "operationId": "taskController::create",
                "responses": {
                    "200": {
                        "description": "return organisation UUID"
                    },
                    "default": {
                        "description": "an \"unexpected\" error"
                    }
                }
            }
        },
        "/mapi/task/edit": {
            "post": {
                "tags": [
                    "API demo"
                ],
                "summary": "Edit Task",
                "operationId": "taskController::edit",
                "responses": {
                    "200": {
                        "description": "edit Task"
                    },
                    "default": {
                        "description": "an \"unexpected\" error"
                    }
                }
            },
            "delete": {
                "tags": [
                    "API demo"
                ],
                "summary": "Edit Task",
                "operationId": "taskController::delete",
                "responses": {
                    "200": {
                        "description": "edit Task"
                    },
                    "default": {
                        "description": "an \"unexpected\" error"
                    }
                }
            }
        }
    },
    "tags": [
        {
            "name": "API demo",
            "description": "Everything about API demo",
            "externalDocs": {
                "description": "Find out more",
                "url": "http://swagger.io"
            }
        }
    ],
    "externalDocs": {
        "description": "MAPI API",
        "url": "https://ralecheinc.atlassian.net/wiki/spaces/TEC/pages/673513891/Framework+Architecture+Demo"
    }
}